a:link {
color: #336699;
}
a:visited {
color: #000000;
}
a:hover {
color: #663399;
}
a:active {
color: #663399;
}
header {
background-color: #336699;
color: #FFFFFF;
text-align: center;
width: 100%;
height: 70px;
position: fixed;
top: 0;
display: block;
}
header a:link{
color: #FFFFFF;
}
header a:visited {
color: #FFFFFF;
}
header a:hover {
color: #FFFF00;
}
header a:active {
color: #FFFF00;
}
section {
background-color: #FFFFFF;
color: #000000;
margin-top: 80px;
margin-left: 15%;
margin-right: 15%;
margin-bottom: 80px;
}
blockquote {
font-weight: bold;
text-indent: 5px;
}
textarea {
width: 100%;
height: 250px;
}
footer {
background-color: #336699;
color: #FFFFFF;
text-align: center;
width: 100%;
height: 70px;
position: fixed;
bottom: 0;
display: block;
}
footer a:link{
color: #FFFFFF;
}
footer a:visited {
color: #FFFFFF;
}
footer a:hover {
color: #FFFF00;
}
footer a:active {
color: #FFFF00;
}
